/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache
/public/js/*
/public/css/*
/public/fonts/*
/public/mix-manifest.json
/public/main.js
/images/logs/nginx/*
rr
.rr.yaml
